{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
        	Suptix - About
    	{% endblock title %}
	</title>
</head>
<body>
	{% block content %}
	<div class = "selimut">
	<div>
		<h1> About Suptix </h1>
		<p> Suptix is a website where those who helps and those who needs meets </p>
	</div>
	{% if user.is_authenticated %}
		<div class = "comment-class-custom">
			<div>
					<form class="form" action="{% url 'about:data' %}" method="POST" id = "formtesti">
					{% csrf_token %}
					<div class="form-group">
						{{form}}
					</div>
					<button type="submit" class="btn btn-primary" style = "display:block;">Confirm </button>

					<p style = "margin-top: 20px">
					</p>
				</form>
			</div>
		</div>
		{% else %}
		<div>
			<p>login to write a comment</p>
		</div>
		{% endif %}
		<div style = "max-width: 800px;"><b>What are they say about us?</b></div>
		<div style = "margin-bottom: 30px;">
			<div id = "datajson"></div>
			{% for i in data %}
				<div class = "statusdiv">
					<p class = "statustext">Name : <b>{{i.name}}</b></p>
					<p class = "statustext"><i>" {{i.testimoni}} "</i></p>
				</div>
		
			{% endfor %}
		</div>
	</div>
    {%endblock%}
    {% block script %}
  		<script src="{% static 'about.js'%}"></script>
	{% endblock script %}
</body>
