{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
        	Suptix - Register Form
    	{% endblock title %}
	</title>
</head>
<body>
	<div>
		{% block content %}

		<div style = "margin-bottom : 400px; margin-top : 100px;"" >
			<h2 style = "text-align: center">
				Your data has been recorded. You have taken a step forward to be a good person</h2>
			<a href= "/" class="btn btn-primary" role="button" aria-pressed="true" style="display:block">Home</a>
		</div>
			
		{%endblock%}
	</div>
</body>