{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
        	Suptix - Register Form
    	{% endblock title %}
	</title>
</head>
<body>
	{% block content %}
			<div class = "form-class-custom">
				<div>
					<h1 style = 'text-align: center'>Registration Form</h1>
					<form class="form" action="{% url 'register:save' %}" method="POST">
						{% csrf_token %}
						<div class="form-group">
							{{ register_form }}
						</div>
						<button type="submit" class="btn btn-primary" style = "display:block;">Confirm </button>
						
						<p style = "margin-top: 20px">
							if you still in this page after clicking submit button, there are 2 reason:
							<ol>
								<li>invalid email input</li>
								<li>your email already exists</li>
							</ol>
						</p>
					</form>
				</div>
			</div>
    {%endblock%}
</body>

