{% extends 'base.html' %}
{% load static %}

{% block title %}
	Program | Suptix
{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="ml-5">
    <h1> List Donasi </h1>
		<div id="listdonasi" class ="container-fluid">
		</div>
    <h3 id="uangdonasi"></h3>
    <h5> Terima kasih telah menjadi pahlawan bagi mereka yang membutuhkan!</h5>
  </div>
</div>
{% endblock content %}
