{% extends 'base.html' %}
{% load static %}

{% block title %}
	Program | Suptix
{% endblock title %}

{% block content %}

<!-- MODAL -->
<div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Akses Ditolak...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
          <div class="container-fluid">
                <div class="d-flex" style="text-align:center">
              Anda harus masuk sebelum bisa mulai berdonasi.<br>
              Silakan masuk terlebih dahulu melalui tombol "Login" di kanan atas. <br>
                </div>
              <!-- <div class="d-flex">
                  <a class="btn btn-danger flex-fill" href="{% url 'social:begin' 'google-oauth2' %}">
                      <i class="fab fa-google mr-3"></i>
                      Login with Google
                  </a>
                  <br>
              </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="modalClose" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="ml-5 mt-5" style = "margin-">
    <h1> {{ program.title }}</h1>
  </div>
	<div class="row mt-5">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-6">
      <img class="img-full" src="{{ program.image }}" alt="Card image cap" style="height:auto">
      <div style = "margin-bottom : 50px; margin-top : 25px;">
        {{ program.description }}
      </div>
    </div>
    <div class="col-sm-4" style= "margin-bottom: 50px">
      <div class="card">
        <div class="card-body max">
          <h4 class="card-title"> <b> Uang terkumpul </b>  </h5>
          <h3> <b> Rp. {{ uang_terkumpul }} </b> </h3>
          <h6> Target uang terkumpul <b> Rp. {{ program.target_uang_terkumpul }}</b></h6>
          <h6> Sisa Waktu : {{sisa_waktu}} hari lagi</h6>
          {% if user.is_authenticated %}
          <a href="/donate/?id={{ program.id }}&name={{ program.slug_program }}" class="btn btn-primary"> Donate </a>
          {% else %}
          <a class="btn btn-primary" href="#" id="login" data-toggle="modal" data-target="#modelId2">Donate</a>
          {% endif %}
					<h4 class="mt-4"> <b> List Donatur </b> </h4>
					{% for donatur in list_donatur %}
						<div class="mt-3 ml-3">
								<h5> <b> {{ donatur.nama_donatur }}</b></h4>
								<h5> Rp.{{ donatur.uang_donasi }}</h4>
								<h6 style="font-size:10px"> {{ donatur.waktu_donasi }}</h6>
						</div>
					{% endfor %}
        </div>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
{% endblock content %}
