{% extends 'base.html' %}
{% load static %}

{% block title %}
	Program | Suptix
{% endblock title %}

{% block content %}
<div class="container-fluid">
	<h1 class="mt-5"> <b> Programs </b> </h1>
	<div class="row" style = "margin-bottom: 50px">
		{% for prog in list_program %}
		<div class="col-sm-4 mt-5">
			<div class="card max border-dark card-program card-img" style="width: 80%">
			  <img class="card-img-top img-resp" src="{{ prog.image }}" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title"> {{ prog.title }}</h5>
			    <p class="card-text">{{ prog.headline }}</p>
			    <a href="/program/?id={{ prog.id }}" class="button-bottom btn btn-primary right"> More </a>
			  </div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
