{% extends 'base.html' %}
{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        {% block title %}Donation Gagal...{% endblock title %}
    </head>

    <body class ="body-custom-small-content">
            {% block content %}
            <div class="container-custom-small-content">
                <div class="register-success-fail">
                        <h1>Unfortunately, your donation failed.. :(</h1><br>
                        <h3>There's an error when validating your e-mail</h3><br>
                        <h4>Not registered yet? Register now to start donating!</h4>
                </div>
            </div>
            {% endblock content %}
        </body>
</html>