{% extends 'base.html' %}
{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        {% block title %}Donation Sukses{% endblock title %}
    </head>

    <body class ="body-custom-small-content">
        {% block content %}
        <div class="container-custom-small-content">
            <div class="register-success-fail">
                <h1>Thank you for your kind donation!</h1><br>
                <h2>No matter how small the donation, it matters for them</h2><br>
                <br>
                <h5>More donating? Click the "programs" button on the top right<br>and choose your program to donate</h5>
            </div>
        </div>
        {% endblock content %}
    </body>
</html>