{% extends 'base.html'%}
{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}Donation Form {% endblock title %}</title>
    </head>

    <body>
        {% block content %}
            {% if view %}
            <div class="form-class-custom">
                <form class="form" method="POST" action="{% url 'donate_post' %}">
                    <h1 style="text-align: center">Donation Form</h1>
                    <h3 style="text-align: center">Please fill the following form</h3>
                    <br>
                    {% csrf_token %}
                    <div class ='form-group'>
                        {{ form_donasi }}
                    </div>
                    <br>
                    <button type ="submit" class="btn btn-primary" style = "display:block;">Confirm</button>
                </form>
            {% else %}
                <div class="d-flex justify-content-center p-2 bd-highlight" style="text-align: center ; margin-top: 10% ; margin-bottom: 10%">
                    <h2>Anda mencoba memasuki laman donasi tanpa melakukan<br>
                    login. Silakan login terlebih dahulu dan memilih program<br>
                    yang Anda inginkan di laman program kami.</h2>
                </div>
            {% endif %}
            </div>
        {% endblock content %}
    </body>
</html>