/* all style for main page goes here */
html, body {
  height: 100vh;
}
.font-color-red {
  color : red;
}

.image-responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* background colors*/
.gray {
  background-color: #eeeeee
}

.image-card {
  width: 20%;
  min-width: 100px;
  height: auto;
}
.comment-class-custom {
  max-width: 500px;
  padding : 20px;
  margin: auto;
  margin-top: 20px;
  background-color: #ffffff;
}
.form-class-custom {
  max-width: 500px;
  padding : 20px;
  margin: auto;
  margin-top: 20px;
  background-color: #ffffff;
}

.text-header-custom{
  font-size: 24px;
  text-align: center;
}

.bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/bg-home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrap {
  overflow-wrap: break-word;
}

.mh-100 {
  height: 150px;
}

.img-resp {
  height: 250px;
}

.card-img{
  height: 500px;
  width:100%;
}

.button-bottom {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card-program {
  position: relative;
}

.img-full {
  width : 100%;
  max-width:400px;
  right : 0px;
}

.logo-icon {
  max-width: 50px;
  max-height: 50px;
}

.navbar-green {
  background-color:#4ab56f;
  background-image: none;
  background-repeat: no-repeat;
  border-color: white;
}

#id_anonymous{
  height: 20px;
  width : 20px;
  display: block;
}

.footer {
  bottom: 0;
  width: 100%;/* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  border-top: 5px solid #4ab56f;
}

.vertical-line {
  border: 2px solid #4ab56f;
  width: 1px;
  margin-right: 2vw
}

@media only screen and (max-width:768px) {
  .vertical-line {
    width: 0px;
    border: none;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width:768px) {
  header {
    font-size: 20px;
  }
}

.container-custom{
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.btn-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.image-news {
  width: 100%;
  height: auto;
  max-height: 400px;
}
.body-custom-small-content {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-custom-small-content {
    min-height: 54%;
    position: relative;
}

.register-success-fail {
    margin-top: 50px;
    text-align: center;
}

.headpage{
  display: block;
  
}

.desc{
  display: block;
}

.statusdiv
{
	background-color : #aaffaa ;
	max-width : 800px;
	color : black;
	margin :auto;
	border-radius: 10px;
	padding : 25px;
  margin-top : 10px;
  
}

.namatext
{
  padding-top: 20px;
  margin-bottom :0px;
  font-size: 20px;

}

.statustext
{
  font-size: 15px;
  margin-bottom: 5px;
}
.justify-content-center {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.selimut{
  
  max-width: 900px;
  margin : auto;
  margin-top : 30px;
  padding-right: 20px;
  padding-left: 20px;
}