{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    {% block title %}
        No title
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'images/logo.ico' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>

  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
          <div class="container-fluid">
              <div class="d-flex">
                  <a class="btn btn-danger flex-fill" href="{% url 'social:begin' 'google-oauth2' %}">
                      <i class="fab fa-google mr-3"></i>
                      Login with Google
                  </a>
                  <br>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="modalClose" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <header>
      <nav class="navbar navbar-expand-sm navbar-green navbar-light">
        <a class="navbar-brand" href="/">
          <div class="media">
            <img  src="{% static 'images/logo.ico' %}" class="logo-icon align-self-center" alt="Suptix">
            <div class="pl-2 media-body align-self-center text-white">
              <h3>SUPTIX</h3>
            </div>
          </div>
        </a>
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/program">Programs</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text-white" href="/list_donasi">Daftar Donasi</a>
            </li>
            <li class="nav-item align-self-center">
              <a class="nav-link text-white">Welcome, {{ user.first_name }} {{ user.last_name }}</a>
            </li>
            <li class="nav-item align-self-center">
              <a class="btn btn-danger" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link text-white" href="#" id="login" data-toggle="modal" data-target="#modelId">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
  {% block content %}
    if you see this, something is wrong!
  {% endblock content %}
  <footer class="footer bg-white">
    <div class="container-fluid">
      <div class="row p-3" style="margin-right: -15px;margin-left: -40px;">
        <div class="col-sm-4">
          <div class="container-fluid">
            <h3 style= "text-align: center; padding-top: 20px"><a href = "/about">About Us</a></h3>
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-row h-100">
            <div class="h-100">
              <div class="vertical-line h-100"></div>
            </div>
            <div class="container">
              <h3>Find Us At :</h3>
              <div class="d-flex flex-wrap flex-row justify-content-around pt-3">
                <div class="mb-2 mr-auto media">
                  <a class="d-flex align-self-center" href="#">
                      <img src="{% static 'images/mail.png' %}" class="logo-icon" alt="">
                  </a>
                  <div class="media-body">
                    <h4 class="align-self-center p-2 m-0">Suptix123@gmail.com</h4>
                  </div>
                </div>
                <div class="mb-2 mr-auto media">
                    <a class="d-flex align-self-center" href="#">
                        <img src="{% static 'images/location.png' %}" class="logo-icon" alt="">
                    </a>
                    <div class="media-body">
                      <h4 class="align-self-center p-2 m-0">Fasilkom UI</h4>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
{% block script %}
{% endblock script %}
<script src="{% static 'donasi.js' %}"> </script>
</html>
