{% extends 'base.html' %}
{% load static %}

{% block title %}
	Home | Suptix
{% endblock title %}

{% block content %}
<div class="container-fluid p-0">
	<div class="container-fluid bg text-white">
		<h1>Mereka Membutuhkan Bantuan Anda</h1>
		<h1>Ayo Menjadi Orang Baik!</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 gray">
				<div class="container-custom">
					<h1><strong>News</strong></h1>
					{% for new in news %}
					<div class="card mt-3">
						<div class="card-body">
							<div class="media row">
								<img class="col-sm-3 mh-100 image-card" src="{{ new.image }}" alt="hehe">
								<div class="col-sm media-body wrap w-25">
									<p><small>{{ new.date }}</small></p>
									<a href="news/{{ new.id }}" class="text-dark"><h5>{{ new.title }}</h5></a>
									<p>{{ new.short_desc }}</p>
								</div>
							</div>
						</div>
					</div>
					{% empty %}
					<div class="card">
						<div class="card-body">
							<div class="media">
								<img class="mr-3 image-card" src="{% static 'images/nope.png' %}" alt="hehe">
								<div class="media-body">
									<p><small>ini tanggal dan hari</small></p>
									<h5>There is no news</h5>
									<p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-4 pt-5 pl-3" style = "padding-bottom: 100px;">
				<h3>Headlines</h3>
				<ul class="list-group list-group-flush">
					{% for new in news %}
					<li class="list-group-item"><a href="news/{{ new.id }}" class="text-dark">- {{ new.title }}</a></li>
					{% empty %}
					<li class="list-group-item">- There are nothing here</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock content %}