{% extends 'base.html' %}
{% load static %}

{% block title %}
	News | Suptix
{% endblock title %}

{% block content %}
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-sm-8">
            <img class="image-news" src="{{ news.image }}" alt="hehe">
            <p><small>{{ news.date }}</small></p>
            <h3>{{ news.title }}</h3>
            <p class="pt-2">{{ news.long_desc|linebreaks }}</p>            
        </div>
        <div class="col-sm-4">
            <div class="card border-dark">
              <div class="card-body">
                <div class="text-center mb-5">
                    <h4 class="card-text">Do you want to donate? But do not have time for it?</h4>
                    <br>
                    <h4 class="card-text">If so, then click here</h4>
                    <br>
                    <a class="btn btn-primary mb-5" href="/program" role="button">Programs</a>
                    <br>
                    <h4 class="card-text"> Or you can just click on one of the programs below </h4>
                </div>
                <h3>Programs</h3>
                <ul class="list-group list-group-flush">
                    {% for program in programs %}
                    <li class="list-group-item">
                        <div class="">
                            <h5> <b> {{ program.title }}</b></h4>
                            <h6 class="mb-3"> Target <b> Rp. {{ program.target_uang_terkumpul }}</b></h6>
                            <a href="/donate/?id={{ program.id }}&name={{ program.slug_program }}" class="btn btn-primary"> Donate </a>
                            <a href="/program/?id={{ program.id }}" class="btn btn-secondary"> See More </a>
                        </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item">- There are no programs for this news yet.</li>
                    {% endfor %}
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}